.how-to-play-modal-content {
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.how-to-play-modal-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
  vertical-align: middle;
}
