.game-page {
  min-height: 100vh;
  padding-top: var(--space-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page-content {
  width: 100%;
  max-width: 400px;
  padding: 0 var(--space-4);
}

.game-board-header {
  display: flex;
  margin-bottom: var(--space-4);

  & > * {
    flex: 1;
  }
}

.game-board-next-prizes-box {
  flex: 1;
  transform: translateY(-6px);
  background: var(--emerald);
  border-bottom-right-radius: var(--radius-3xl);

  .game-board-next-prizes-box-content {
    overflow: hidden;
    justify-content: space-between;
    border-radius: var(--radius-3xl);
  }
}

.game-board-next-prize-item {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  flex-shrink: 0;
  transform: translateX(0);
  transition: transform var(--transition-medium);

  &:not(.game-board-next-prize-item--first) {
    margin-right: 30%;
    opacity: 0.5;
  }
}

.game-board-next-prize-item--first {
  position: relative;
  margin-right: 10%;
  padding-right: var(--space-2);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 4px;
    height: calc(100% + var(--space-1) * 2);
    background-color: var(--emerald);
  }
}

.game-board-winning-cards-counter {
  transform: translateY(calc(var(--space-2) * -1));
  width: fit-content;
  position: relative;
  background-color: var(--emerald);
  border-radius: var(--radius-none) var(--radius-none) var(--radius-lg) var(--radius-lg);

  .game-board-winning-cards-counter-title {
    padding: var(--space-1) var(--space-3);
    padding-top: 0;
  }
}

.game-board-winning-cards-counter-value {
  display: flex;
  align-items: center;
  gap: var(--space-05);
}

.game-board-winning-cards-counter-icon {
  width: var(--font-size-2xl);
  height: var(--font-size-2xl);
}

.game-board-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
  margin: var(--space-4) 0;
}
