.game-page {
  min-height: calc(100vh - var(--app-header-height));
  padding-top: var(--space-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page-content {
  width: 100%;
  max-width: 400px;
  padding: 0 var(--space-4);
}

.game-board-header {
  display: flex;
  margin-bottom: var(--space-4);

  & > * {
    flex: 1;
  }
}

.game-board-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
  margin: var(--space-4) 0;
}
