.shine-sweep {
  &::after {
    content: "";
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 100%;
    animation: shine-sweep 0.7s ease-out;
    border-radius: var(--radius-base);
    z-index: 1;
    transform: rotate(45deg) translateX(-200%);
    opacity: 0.8;
    background: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.05) 0%,
      hsla(0, 0%, 100%, 0.1) 10%,
      hsla(0, 0%, 100%, 0.3) 25%,
      hsla(0, 0%, 100%, 0.5) 50%,
      hsla(0, 0%, 100%, 0.3) 75%,
      hsla(0, 0%, 100%, 0.1) 90%,
      hsla(0, 0%, 100%, 0.05) 100%
    );
  }
}

@keyframes shine-sweep {
  0% {
    transform: rotate(45deg) translateX(-200%);
  }

  100% {
    transform: rotate(45deg) translateX(200%);
  }
}

@keyframes pop {
  0% {
    transform: scale(1) rotateY(180deg);
    transform-origin: center;
    z-index: 2;
  }

  50% {
    transform: scale(1.2) rotateY(180deg);
    transform-origin: center;
    z-index: 2;
  }

  100% {
    transform: scale(1) rotateY(180deg);
    transform-origin: center;
    z-index: 0;
  }
}

@keyframes card-flip {
  0% {
    z-index: 2;
    transform: rotateY(0deg);
  }

  50% {
    z-index: 2;
    transform: rotateY(180deg);
  }

  100% {
    z-index: 1;
    transform: rotateY(180deg);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0) rotateY(180deg);
  }

  50% {
    transform: scale(1.2) rotateY(180deg);
  }

  100% {
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
