.app-header {
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  padding: 0 var(--space-4);
  width: 100%;
  background-color: var(--app-header-background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--app-header-z-index);
}

.total-coins-wrapper {
  margin: 0 auto;
}
