@import "../../styles/animations.css";

.game-card-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.game-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.game-card-front,
.game-card-back {
  background: var(--game-card-gradient);
  box-shadow:
    inset var(--highlight-md),
    var(--shadow-md-xy);
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.game-card-back {
  transform: rotateY(180deg);
}

.game-card-exposed {
  transform: scale(1) rotateY(0deg);
  animation: card-flip 0.8s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.game-card-winning {
  animation: pop-preserve-rotation 0.6s ease-out forwards;
}

.game-card-content-winning {
  transform: scale(0) rotateY(180deg);
  transform-origin: center;
  animation: pop-in 0.3s ease-out;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;

  &.shine-sweep {
    &::after {
      animation-delay: 0.7s;
    }
  }
}

.game-card-content-losing {
  background: var(--lose-card-gradient);
  border-radius: var(--radius-2xl);
  box-shadow: inset var(--shadow-md-y);
  position: relative;
  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    inset: -5px;
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 0.5s;
    border: 15px solid var(--blood-red-light);
    border-radius: var(--radius-2xl);
    box-shadow:
      0 0 10px var(--blood-red),
      0 0 30px var(--blood-red),
      inset 0 0 10px var(--blood-red),
      inset 0 0 30px var(--blood-red);
    filter: url(#flame);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: -2px;
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 0.5s;
    border: 5px solid hsla(0, 0%, 100%, 0.9);
    filter: url(#flame) blur(1.5px);
    border-radius: var(--radius-2xl);
  }
}
