.base-button {
  color: var(--text);
  border: none;
  border-radius: var(--radius-3xl);
  padding: var(--space-2) var(--space-4);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  line-height: 1;
  box-shadow:
    var(--highlight-md) inset,
    var(--shadow-md-y) inset;
  text-transform: uppercase;
  transition: all var(--transition-medium);
  transform: translateY(0px);

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:active:not(:disabled) {
    box-shadow:
      var(--highlight-md) inset,
      var(--shadow-gray-light) inset;
    transform: translateY(3px);
  }

  &.primary {
    background-color: var(--emerald);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--text);
    color: var(--bg-dark);
  }
}

.full-width {
  width: 100%;
}

.small {
  font-size: var(--font-size-sm);
  height: 2rem;
}

.medium {
  font-size: var(--font-size-base);
  height: 3rem;
}

.large {
  font-size: var(--font-size-lg);
  height: 4rem;
}
